body {
  font-family: "Avenir Next";
.header {
  background-color: #4682b4;
    color: black;
  height: 90px;
}
.header {
  float; left;
  font-size: 45px;
  padding: 20px 40px;
}
.main {
  padding: 100px 80px;
  background-color: #b7edfa;
  color: black;
}
.footer {
  background-color: #191970;
    color: black;
  height: 90px;
  }
  
    
