body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: left;
  padding:33px 20px;
}

.header {
  background-color: #5f9ea0;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding:20px 40px;
}

.main {
  background-color: #48d1cc;
  height: 600px;
}
.judul h1 {
font-size: 30px;
  color: white;
  padding-left: 90px;
}
.judul h2 {
font-size: 20px;
  color: white;
  padding-left: 90px;
}

.footer {
  background-color: #008080;
  height: 120px;
}
    
