body {
  font-family: "Avenir Next";
}
li {
  list-style: none;
}
.menu {
  background-color: #b7edfa;
    color: black;
  height: 100px;
}
.menu-logo {
  float; left;
  font-size: 45px;
  padding: 25px 46px;
  margin: 10px;
}
.menu-list {
  float: right;
  font-size: 30px
  padding: 35px 23px;
  margin: 10px;
}
    
